# Dependencies
node_modules/
.pnpm-store/

# Build output
.next/
out/
dist/
build/
.expo/
.expo-shared/
web-build/

# Env
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Testing
coverage/

# Supabase
supabase/.branches
supabase/.temp

# Turbo
.turbo/

# TypeScript
*.tsbuildinfo
